/*Less*/

[v-cloak] {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.fl {
    position: relative;
    float: left;
}

.fr {
    position: relative;
    float: right;
}

.clearfix() {
    clear: both;
    content: ' ';
    height: 0;
    width: 0;
    display: block;
    visivilty: hidden
}

a {
    cursor: pointer;
    transition: all .1s ease-out;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.conten {
    position: relative;
    float: left;
    padding: 6px 12px;
}

.wrap {}

.container {
    margin: 0 auto;
    width: 1000px;
    .bookitem {
        position: relative;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        &:after {
            .clearfix
        }
        .checkThis {
            position: relative;
            float: left;
            margin-right: 10px;
            margin-top: 50px;
        }
    }
    .con-l {
        position: relative;
        float: left;
        width: 65%;
    }
}

.cover {
    position: relative;
    float: left;
    max-width: 150px;
    img {
        max-width: 100%;
    }
}

.basemsg {
    position: relative;
    float: left;
    width: 400px;
    padding-left: 15px;
    font-size: 12px;
    .info-l {
        color: #666666;
    }
}

.rating {
    position: relative;
    float: left;
    width: 120px;
    margin-right: 20px;
    min-height: 150px;
    font-size: 12px;
    color: #666666;
    border-left: .5px solid #eeeeee;
    border-right: .5px solid #eeeeee;
    padding-left: 15px;
    padding-right: 15px;
    p {
        margin: 0 0 5px 0;
        line-height: 1.2;
    }
    .rating_right {
        position: relative;
        float: right;
        padding: 10px 0 10px 10px;
        .star {
            display: block;
            font-size: 16px;
            color: #f0b034;
        }
        .rating_num {}
    }
    .average {
        position: relative;
        float: left;
        line-height: 1.8;
        font-size: 28px;
        color: #333333;
    }
}

.item_count {
    position: relative;
    float: left;
    margin-right: 30px;
    margin-left: 15px;
}

.buy_num {
    position: relative;
    margin: 0 auto;
    &:after {
        .clearfix
    }
    .num_add,
    .num_minus {
        position: relative;
        float: left;
        display: block;
        width: 18px;
        height: 18px;
        color: #666;
        text-align: center;
        border: 1px solid #eee;
    }
    .num_input {
        position: relative;
        float: left;
        width: 30px;
        height: 18px;
        font-size: 14px;
        text-align: center;
        color: #666;
        border: 1px solid #eee;
        border-right: 0;
        border-left: 0;
    }
}

.total {
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.shopping-r {
    position: relative;
    float: right;
}

.shoppingBar {
    position: relative;
    line-height: 1.4;
    label {
        font-size: 12px;
    }
    #ischeckAll {
        position: relative;
        float: left;
        line-height: 1.4;
    }
    .shoppingBtn {
        position: relative;
        float: left;
        margin: -10px;
        margin-left: 0;
        width: 100px;
        height: 44px;
        background-color: #e54346;
        line-height: 44px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
}

table {
    td {
        line-height: 1.2;
    }
}




/*搜索组件*/

.search-form {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    &:after {
        .clearfix
    }
    input {
        position: relative;
        float: left;
        width: 450px;
        line-height: 1.4;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 5px;
        border: .5px solid #ccc;
        background-color: #fff;
        &:focus {
            outline: none;
        }
        &.input-group {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .btn-add {
        position: relative;
        float: left;
        cursor: pointer;
        height: 32px;
        padding: 6px 12px;
        border-radius: 5px;
        border: .5px solid #ccc;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
/*书目展示*/
.bookList{
	position: relative;
	&:after{
		.clearfix
	}
	li{
		position: relative;
		float: left;
		margin: 0 15px 15px 0;		
	}
}