<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>
        <%=htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <search></search>
        </div>
    </div>
</body>

</html>